    /* all-page*/
    :root{
        --obscure-color : rgb(12,12,12);
        --principal-font-color : rgb(227 227 227);
        --secundary-font-color: rgb(190 190 190);
        --tecery-font-color: rgb(170 170 170);
    }

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;   
    }

    html{
        font-size: 62.5%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }

    body{
        background-color:var(--obscure-color);
    }

    h1,h2,h3,h4,p{
        font-size: 2.7rem;
        color: var(--principal-font-color);
    }

    p{
        font-size: 1.6rem;
        text-align: justify;
    }

    /*end all-page*/

    /*nav-bar*/
    header{
        background-color: var(--obscure-color);
        color: var(--principal-font-color);
        width: 100%;
        padding: 2% 5% 1% 5%;
        min-height: 8rem;
        max-height: 11rem;
        margin: 0 auto;
        border-radius: 0px 0px 4px 4px;
        -webkit-box-shadow: 0px 17px 17px -6px rgba(0,0,0,0.37);
        -moz-box-shadow: 0px 17px 17px -6px rgba(0,0,0,0.37);
        box-shadow: 0px 17px 17px -6px rgba(0,0,0,0.37);
        top: 0;
        position: sticky;
        z-index: 1;
        border-bottom: solid #333333 1px;
        z-index: 2;
    }

    .main-nav{
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .main-nav > div{
        text-align: center;
    }

    .nv-contain-title{
        display: none;
    }

    .nv-contain-logo{
        width: 60%;
        display: flex;
        justify-content: left;
    }

    .nv-contain-links{
        color: var(--principal-font-color);
        width: 40%;
    }

    .title-one{
        font-size: 3rem;
        padding: 0.5% 0%;
        font-weight: bold;
    }

    .main-nav img{
        max-width: 6rem;
        max-height: 6rem;
    }

    .ul-links{
        padding-top: 2%;
        display: flex;
        justify-content: space-around;
    }

    .nav-link{
        min-height: 30px;
        list-style: none;
        display: inline-block;
        border-radius: 3px;
        padding: 0 3%;
        color: var(--principal-font-color);
        font-size: 2.5rem;
        text-decoration: none;
    }

    .nav-link i{
        color: var(--principal-font-color);
    }

    .nav-link span{
        color: var(--principal-font-color);
        display: none;
    }

    .nav-link:hover{
        background-color: rgb(109, 109, 109);
    }

    .nav-link:active{
        background-color: rgba(199, 29, 29, 0.582);
    }

    /*end nav-bar*/

    /*main  */

    /* .main-bg-img{
        height: 80rem;
        background-position: center;
        background-size: cover;
        margin-top: -28.8rem;
        font-size: 2rem;
        text-align: center;
        padding-top: 30rem;
    }

    .main-bg-img h1{
        color: #1d1d1d;
        padding: 8rem 0;
    } */

    .section-one img{
        width: 100%;
    }

    .section-one h2{
        position: absolute;
        width: 100%;
        font-size: 1.8rem;
        text-align: center;
        padding: 10% 10%;
        z-index: 1;
        color: var(--obscure-color);
        font-family: 'Indie Flower', cursive;
    }

    .section-two{
        width: 95%;
        margin: 0 auto;
        padding-top: 15vw;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .card{
        border-radius: 15px;
        border: solid var(--obscure-color) 2px;
        width: 85%;
        max-width: 1024px;
        height: auto;
        margin: 0 auto;
    }

    .card img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .contain-info{
        width: 90%;
        padding: 15px 0 0 0;
        margin: 0 auto;
        height: auto;
    }

    .presentation h2{
        color: var(--principal-font-color);
    }

    .presentation p{
        color: var(--secundary-font-color);
    }

    .personal-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        padding-top: 20px;
        font-size: 1.6rem;
        color: var(--principal-font-color);
    }

    .info-box{
        width: 100%;
        margin-top: 10px;
        border-radius: 0 30px 30px 0;
        padding-right: 3%;
        padding-bottom: 15px;
    }

    .info-box h4{
        font-size: 1rem;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-top: 5px;
        width: 100%;
    }

    .info-box-into{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .info-box-into i{
        width: 5%;
    }

    .info-box-into span{
        width: 80%;
        text-align: start;
    }

    #box-1{
        border: solid 1px #ffb5b5;
        color:#ffb5b5
    }

    #box-1 h4{
        color:  #ffb5b5;
    }

    #box-2{
        border: solid 1px #83cad3;
        color: #83cad3
    }

    #box-2 h4{
        color:  #83cad3;
    }

    #box-3{
        border: solid 1px #ffd98e;
        color: #ffd98e;
    }

    #box-3 h4{
        color:  #ffd57e;
    }

    #box-4{
        border: solid 1px #99f3bd;
        color: #99f3bd;
    }

    #box-4 h4{
        color:  #99f3bd;
    }
    /* end main */

    /*Footer*/
        footer{
            border-top: solid 2px #333333;
            margin-top: 2%;
            color: var(--principal-font-color);
            height: auto;
        }

        .social-links{
            color: var(--obscure-color);
            text-decoration: none;
            min-height: 30px;
            list-style: none;
            color: var(--secundary-font-color);
        }

        .social-links a{
            color: var(--principal-font-color);
            text-decoration: none;
            font-size: 2.5rem;
            color: var(--tecery-font-color);
        }

        .social-links span{
            display: none;
        }

        footer ul{
            width: 55%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            padding: 1% 0;
        }
        
    /*End footer*/

    @media(min-width: 425px){
        .section-one h2{
            font-size: 2rem;
        }
    }

    @media(min-width: 600px){
        .nav-link{
            display: flex;
            justify-content: space-between;
            font-size: 2rem;
        }

        .nav-link span{
            display: inline-block;
        }

        .nv-contain-logo{
            width: 55%;
            display: flex;
            justify-content: left;
        }
        
        .nv-contain-links{
            width: 45%;
        }

        .section-one h2{
            font-size: 2.2rem;
        }

        #box-1{
            width: 48%;
        }

        #box-2{
            width: 48%;
        }
    }

    @media(min-width: 720px){
        .section-one img{
            margin: -10vw 0 0 0;
        }

        .card{
            width: 48%;
        }

        .contain-info{
            width: 48%;
        }

        .social-links span{
            display: inline-block;
        }
    }


    @media(min-width: 900px){
        .nav-link{
            display: flex;
            justify-content: space-around;
            font-size: 2rem;
        }

        .nav-link span{
            display: inline-block;
        }

        .nv-contain-title{
            width: 33%;
            display: inline-block;
        }

        .nv-contain-logo{
            width: 34%;
            display: flex;
            justify-content: center;
        }
        
        .nv-contain-links{
            width: 33%;
        }

        .section-one img{
            margin: -18vw 0 0 0;
        }

        .section-one h2{
            font-size: 2.5rem;
        }
    }

    @media(min-width: 1000px){
        .section-one img{
            margin: -23vw 0 0 0;
        }
    }